
h2.description {
  font-size: 30px;
  margin: 0;
  margin-bottom: 20px;
  color: #303030;
  line-height: 40px;
}

p.description {
  font-size: 18px;
  margin: 0;
  color: #30303070;
  line-height: 20px;
}

.description {
  font-style: normal;
  font-weight: 700;

  color: #303030;
}

h3.funcionalidades {
  font-size: 22px;
  color: #303030;
}

p.funcionalidades {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  background-color: #FFFFFF;
  border: 1px solid #E8E7E7;
  box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.08);
  border-radius: 12px;

  display: flex;
  width: 400px;
  padding: 15px 20px;
  margin: 4px;
  margin-left: 0;
}

img.funcionalidades {
  margin-right: 15px;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 50%;
}

.textinfos {
  width: 100%;
}

.images {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image1 {
  max-width: 450px;
  height: auto;
}

@media (max-width: 1200px) {
  .infos,
  .images {
    width: 90%;
  }

  .images {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p.funcionalidades {
    width: 85%;
    max-width: 350px;
  }

  .infos {
    min-width: unset;
    width: 100%;
  }

  .image1 {
    width: 100%;
  }
}