.loadingBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 6px;
    background-color: #D08726;
    animation: loading 2s ease-in-out infinite;
    z-index: 1000;
}

@keyframes loading {
    0% {
        left: -400px;
    }

    50% {
        left: 100%;
    }

    100% {
        left: -400px;
    }
} 