a.mobileMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;


  border-radius: 50%;
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;

  background: #FFFFFF;
  border: 1px solid #E8E7E7;
  box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.08);

  font-size: 20px;
}

.divMenuMobile {
  position: relative;
  display: none;

  width: 60px;
  min-width: 60px;
  height: 60px;
  min-height: 60px;
  z-index: 1000;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;

  background: #FFFFFF;
  border: 1px solid #E8E7E7;
  box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.08);
  border-radius: 30px;

  width: 0;
  max-width: 75vw;
  height: 0;
  min-height: 0;

  transition: 400ms;
}

.menuList {
  display: none;
  width: 80%;
  height: 80%;
  padding: 30px;
  padding-bottom: 15px;

  flex-direction: column;
}

.menuList a {
  display: flex;
  align-items: center;

  color: #000;

  margin-top: 0;
  margin-bottom: 25px;
  font-size: 20px;
}

.menuList a[data-actualpage="true"] {
  color: #D08726;
}

.menuList a svg,
.menuList a img {
  margin-right: 15px;
  width: 30px;
  font-size: 30px;
}

@media (max-width: 1200px) {
  .divMenuMobile {
    display: unset;
  }
}