div.addexam {
  width: 100%;
  height: 100%;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

div.addexam svg,
div.addexam h3 {
  color: #303030;
  text-align: center;
}

div.addexam h2 {
  text-align: center;
}

div#addExamItem>button>svg {
  color: #EAF0F7;
  font-size: 20px;
  font-weight: bolder;
}

hr.hr {
  width: 80%;
  margin: 25px;
}

@media (max-width: 1200px) {
  div.addexam {
    overflow: unset;
  }
}

div.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 800px;
  max-width: 80%;
  margin: 30px 0;
  padding: 30px;

  border-radius: 12px;
  border: 1px solid #E8E7E7;
  background: #FFF;
  box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.08);
}

div.form>div.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div.form>div.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.form>div.body>hr {
  width: 100%;
  margin: 10px 0;
}

div.form>div.body>* {
  margin: 10px 0;
}

div.form>div.body>div:not(div.antropometria):not(div.macronutrientes) {
  display: block flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

div.form>div.body>div>p {
  align-self: flex-end;
}

div.antropometria {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  max-width: 80%;
  margin: 30px 0;
  padding: 30px;

  border-radius: 12px;
  border: 1px solid #E8E7E7;
  background: #FFF;
  box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.08);
}

div.antropometria>div.left {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

div.antropometria>div.left>div.info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

div.antropometria>div.left>div.info>h3 {
  text-align: start;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

div.antropometria>div.left>div.info>h3>svg {
  color: #E79B38;
  background-color: #F8DEBD;
  padding: 5px;
  border-radius: 4px;
  margin-right: 10px;
  width: 15px;
}

div.antropometria>div.left>div.info>h3.gray {
  color: #818181;
  margin-top: 15px;
}

div.antropometria>div.left>div.info>h2 {
  margin: 0;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

div.antropometria>div.left>div.info>h2>span.umedida {
  font-size: 15px;
  margin: 0;
  font-weight: 400;
  color: #818181;
  margin-left: 7px;
}

div.antropometria>div.left>div.comparativo {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

div.antropometria>div.left>div.comparativo>div.comparativoItem {
  width: 145px;
  max-width: calc(100% - 30px);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 12px;
  border: 1px solid #C4C4C4;
  background: #FFF;
  margin: 15px;
  padding: 2px 4px;
}

div.antropometria>div.left>div.comparativo>div.comparativoItem>h3 {
  color: #5F5F5F;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0;
}

div.antropometria>div.left>div.comparativo>div.comparativoItem>svg {
  font-size: 2rem;
}

div.antropometria>div.left>div.comparativo>div.comparativoItem>.green {
  color: #90DF9E;
}

div.antropometria>div.left>div.comparativo>div.comparativoItem>.red {
  color: #E95D5C;
}

div.antropometria>div.right {
  width: 40%;
  height: 100%;
}

@media (max-width: 1200px) {
  div.antropometria {
    flex-direction: column !important;
  }

  div.antropometria>div {
    width: 100% !important;
  }

  div.antropometria {
    max-width: 100% !important;
    padding: 15px !important;
  }
}

div.macronutrientes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1000px;
  max-width: 80%;
  margin: 30px 0;
  flex-wrap: wrap;
}

div.macronutrientes>div.macronutrientesItem {
  width: 145px;
  max-width: calc(100% - 30px);
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
  border: 1px solid #C4C4C4;
  background: #FFF;
  margin: 7px;
  padding: 2px 4px;
}

div.macronutrientes>div.macronutrientesItem>h4 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 600;
  text-align: center;
}

div.macronutrientes>div.macronutrientesItem>h4:last-of-type {
  margin-bottom: 0;
}


div.macronutrientes>div.macronutrientesItem>h4.gray {
  color: #818181;
}

div.macronutrientes>div.macronutrientesItem>h4:first-of-type,
div.macronutrientes>div.macronutrientesItem>h4:first-of-type>* {
  color: #E79B38;
}