.snackbar,
.snackbarWarning,
.snackbarSuccess {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.30);

    position: fixed;
    top: 15px;
    right: 15px;

    min-height: 100px;

    z-index: 1000;

    border-radius: 10px;

    animation-name: snackbarFadeIn;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes snackbarFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.snackbar>ul>li,
.snackbarWarning>ul>li,
.snackbarSuccess>ul>li {
    color: #6A6969;
    margin: 10px;
    margin-right: 20px;
    user-select: all;
}

.snackbar {
    background-color: #FFF;
}

.snackbarSuccess>ul>li,
.snackbarWarning>ul>li {
    color: #FFF;
}

.snackbarWarning {
    background-color: #F25F5C;
}

.snackbarSuccess {
    background-color: #5cb85c;
}


.snackbarFadeOut {
    animation-name: snackbarFadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes snackbarFadeOut {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}

.hiddenSnackbar,
.hiddenSnackbar * {
    display: none;
}